/* Write your code here. */
*{
  font-family: "robonto";
}
.bg-container {
  background-image: url("https://assets.ccbp.in/frontend/react-js/social-buttons-bg.png");
  height: 100vh;
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.like-style {
  color: #ffffff;
  background-color: #eab308;
  height: 40px;
  width: 120px;
  font-size: 18px;
  border-radius: 10px;
}
.comment-style {
  color: #323f4b;
  background-color: #ffffff;
  height: 40px;
  width: 120px;
  font-size: 18px;
  border-radius: 10px;
}
.share-style {
  color: #ffffff;
  background-color: #1d4ed8;
  height: 40px;
  width: 120px;
  font-size: 18px;
  border-radius: 10px;
}
.heading{
  color:#ffffff;
  font-family: "Bree Serif";
  font-size: 60px;
}
.buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 450px;
}